/* Style for imobi Theme */

body {
	padding-top: 100px;
}

body.home {
	padding-top: 0;
}

header.header {
	background: #444;
}

.home header.header {
	background: transparent;
}

#main {
	padding: 50px 0;
}

.site-footer {
	padding: 30px 0;
	background: #444;
	color: #fff;
}

.site-footer a {
	color: #D2CD00;
}
a:visited {
    color: #b1ad00;
}